@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}
/* 

Generic

*/

.highlights:before,
.highlights:after {
    background: url(assets/wave.svg);
    content: "";
    width: 101vw;
    height: 12vw;
    position: absolute;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}



/* 

NAV BAR

*/

nav{
    height: 80px;
    display: flex;
}

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
    padding: 20px;
}

p {
    line-height: 1.5;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.green {
    color: #32CD32;
}

.logo {
    width: 160px;
}

ul {
    display: flex;
}
li {
    list-style: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #32CD32;
    font-weight: bold;
    padding: 8px;
}

.nav__link--primary {
    border: 2px solid #32CD32;
    border-radius: 4px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary:hover{
    text-decoration: none;
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #2cbe2c;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: all 300ms ease;
    opacity: 0;
}

.menu--open .menu__backdrop{
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0;
}

.menu__link,
.menu__link--nocursor {
    font-size: 40px;
    color: white;
}

.btn__menu--close {
    position:absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

/*

Landing

*/
 
#landing{
    background-color: rgba(86, 210, 98, 0.217);
}

header {
    height: calc(100vh - 80px)
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 56px;
    color: #32CD32;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

.btn{
    background-color: #32CD32;
    color: white;
    padding: 12px 14px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
}

.header__img--wrapper {
    padding: 20px;
    z-index: 2;
}

.container{
    padding: 56px 0;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 

Highlights

*/

.highlights {
    position: relative;
}

.highlights:before {
    transform: translateY(-100%);
    top: 1px;
}

.highlights:after{
    transform: translateY(100%) rotate(180deg);
    bottom: 1px;
}

.highlight__wrapper{
    display: flex;
    flex-wrap: wrap;
}

.highlight {
    padding: 0 24px;
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlight__img{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 24px;
    border: 1px solid #32cd3256;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2cbe2c;
}

.icon__border {
    font-size: 32px;
    padding: 0px;
    margin: 0 auto;
    
}

.highlight__subtitle--container-exp {
    width: 100%;
    max-width: 230px;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
}

.highlight__subtitle {
    font-weight:900;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.highlight__para {
    font-size: 12px;
    max-width: 300px;
}


/*

FEATURES

*/

#features {
    padding-top: 8vw;
    background-color: rgba(86, 210, 98, 0.217);
    
}


.books {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.book {
    width: 25%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.book__img--wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
}

.book__img {
    width: 100%;
    max-width: 380px;
    transition: all 300ms ease;
    cursor: no-drop;
    padding: 25px;
}

.book__img:hover {
    transform: scale(1.03);
    transition: all 500ms ease;
}

.book__title {
    font-size: 20px;
    margin-bottom: 8px;
    text-align: center;`
}

.book__title:hover {
    text-decoration: underline;
    cursor: not-allowed;
}

.book__ratings {
    margin-bottom: 8px;
    color: #fabf2a;
    text-align: center;
}

.book__price { 
    
}

.book__price--normal {
    text-decoration:line-through;
    padding: 6px;
    color: #bfbfbf;
}

/*

Latest Books

*/

.flex__wrap--test{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.late__books{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
}

.book__img {
    width: 190px;
    border-radius: 5px;
}

.book__title{
    text-align: center;
    font-size: 18px;
}

.book__price{
    padding-bottom: 24px;
}

/*

Explore More Books

*/

#browse {
    background-color: rgb(222 246 224);
}


.browse__books {
    font-size: 16px;
    color: #fff;
    background-color: #2cbe2c;
    border-radius: 4px;
    border: none;
    padding: 12px;
}

.browse__books:hover {
    cursor: pointer;
    transform: scale(1.03);
}

/*

Footer

*/

#footer_section {
    background-color: #242424;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__list {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    padding-bottom: 20px;
}

.footer__links {
    color: #fff;
    font-size: 16px;
}

.footer__links--nocursor{
    color: #fff;
    cursor: no-drop;
}

.footer__img--wrapper {
    padding:32px 0 10px 0;
    width: 180px;
    filter: grayscale(1) invert(1);
}

.footer__copyright {
    padding-bottom: 40px;
    color: #fff;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */

@media (max-width:768px) {
    .header__description {
        padding: 0 24px;
    }
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 26px;
    }

    button {
        font-size: 18px;
    }

    .book {
        width: 50%;
    }

}

/* SMALL PHONES, LARGE SMARTPHONES */

@media (max-width: 550px) {
    .nav__links{
        display: none;
    }

    .btn__menu { 
        display: block;
    }

    .highlight{
        width: 100%;
        margin-bottom: 24px;
    }

    .highlight:not(:last-child) {
        margin-bottom: 24px;
    }
}

