@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}


body {
    max-width: 100vw;
    overflow-x: hidden;
}
/* Generic */

.highlights:before,
.highlights:after {
    background: url(assets/wave.svg);
    content: "";
    width: 101vw;
    height: 12vw;
    position: absolute;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}


/* NAV BAR */

nav{
    height: 80px;
    display: flex;
}

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
    padding: 20px;
}

p {
    line-height: 1.5;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.green {
    color: #32CD32;
}

.logo {
    width: 160px;
}

ul {
    display: flex;
}
li {
    list-style: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #32CD32;
    font-weight: bold;
    padding: 8px;
}

.nav__link--primary {
    border: 2px solid #32CD32;
    border-radius: 4px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary:hover{
    text-decoration: none;
}
/*Landing*/
 
#landing{
    background-color: rgba(86, 210, 98, 0.217);
}

header {
    height: calc(100vh - 80px)
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 56px;
    color: #32CD32;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

.btn{
    background-color: #32CD32;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}

.header__img--wrapper {
    padding: 20px;
    z-index: 2;
}

.container{
    padding: 56px 0;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* 

Highlights

*/

.highlights {
    position: relative;
}

.highlights:before {
    transform: translateY(-100%);
    top: 1px;
}

.highlights:after{
    transform: translateY(100%) rotate(180deg);
    bottom: 1px;
}

.highlight__wrapper{
    display: flex;
}

.highlight {
    padding: 0 24px;
    width: calc(100% / 3);
}

.highlight__img{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 24px;
    border: 1px solid #32cd3256;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2cbe2c;
}

.icon__border {
    font-size: 32px;
    padding: px;
    margin: 0 auto;
    
}

.highlight__subtitle--container-exp {
    width: 100%;
    max-width: 230px;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
}

.highlight__subtitle {
    font-weight:900;
    font-size: 20px;
    margin-bottom: 10px;
}

.highlight__para {
    font-size: 12px;
    max-width: 300px;
}


/*

FEATURES

*/

#features {
    padding-top: 8vw;
    background-color: rgba(86, 210, 98, 0.217);
}

.books {
    display: flex;
}
.book {
    width: 25%;
    padding: 24px;
}

.book__img {
    max-width: 380px;
    transition: all 300ms ease;
    cursor: no-drop;
    padding: 0px;
}

.book__img--wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}

.book__img:hover {
    transform: scale(1.03);
    transition: all 500ms ease;
}

.book__title {
    font-size: 20px;
    margin-bottom: 8px;
    text-align: center;
    
}

.book__title:hover {
    text-decoration: underline;
    cursor: not-allowed;
}

.book__ratings {
    margin-bottom: 8px;
    color: #fabf2a;
    text-align: center;
}

.book__price{ 
    text-align: center;
}

.book__price--normal {
    text-decoration:line-through;
    padding: 6px;
    color: #bfbfbf;
}

/*

Latest Books

*/

.flex__wrap--test{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.late__books{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
}

.book__img {
    width: 190px;
    border-radius: 5px;
}

.book__title{
    text-align: center;
    font-size: 18px;
}

.book__price{
    padding-bottom: 24px;
}




